@media screen and (max-width: 992px) {
    #header{
        box-shadow: 2px 6px 16px -3px #e9e4e4f5;
        -webkit-box-shadow: 2px 6px 16px -3px #dfd9d9f5;
        -moz-box-shadow: 2px 6px 16px -3px #f7f0f0f5;
        
    }
    
    #header .logo > i{
       
        display: inline-block;
    }

    #header .logo a{
        margin-left: 20px;
        /* font-size: 18px; */
    }

    #header .navbar
    {
        position: absolute;
        top: 7%;
        left: 3%;
        right: 3%;
        display: flex;
        flex-direction: column;
        background-color: #f5f4f4;
        box-shadow: -1px 3px 16px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 3px 16px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 3px 16px 0px rgba(0,0,0,0.75);
        padding: 15px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    #header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    #header .navbar a{
        margin: 12px 15px;
        font-size: 22px;
    }

    #header .navbar .none_cart{
        display: none;
    }

    #header .cart_shop{
        display: block;
    }
    

    #home{
        flex-direction: column;
        gap: 50px;
        padding: 0 7%;
    }

    #home .home_img img{
        width: 350px;
        height: auto;
    }

    #brands_partner .img_container, #featured .featured_container{
        flex-direction: column;
        border: none;
    }

    #brands_partner .img_container img{
        margin: 15px 0;
    }
    

    #featured .featured_container .featured_content{
        margin-left: 0;
    }

    #featured .see_more_btn{
        
        margin-bottom: 30px;
        margin-right: 20px;
    }

    .popular_box_container{
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 450px){
    #home .home_img img{
        width: 350px;
        height: auto;
    }

    #header .logo a{
        margin-left: 20px;
        font-size: 18px;
    }
}